<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Apruebame!!!</title>
    <style>
         @font-face {
            font-family: 'Pacifico';
            font-style: normal;
            font-weight: 400;
            src: url(https://fonts.gstatic.com/s/pacifico/v18/FwZY7-Qmy14u9lezJ-6H6MmBp0u-.woff2) format('woff2');
        }
 
        header {
            margin: 0;
            padding: 0;
            font-family: 'Pacifico', cursive;
            background-color: #c2d35f;
            color: #000000;
            padding: 10px;
            text-align: center;
        }

        h3 {
            margin: 0;
        }
    </style>
</head>
<body>

<header>
    <h3>La pasteleria mas buscada de todos los tiempos</h3>
</header>


</body>
</html>